In [2]:
import pandas as pd
#Creation of Dataframe
df=pd.read_csv('monaco_2025_dirty_laps.csv')
print(df.head())
print(df.tail())
print(df.describe())
print(df.info())
print(df.index)

   lap_number  lap_time_seconds
0          1.0           73.173
1          2.0           71.372
2          3.0           71.532
3          4.0            71.57
4          5.0           72.67
    lap_number  lap_time_seconds
74         74.0           73.098
75         75.0           71.995
76         76.0           72.396
77         77.0           71.824
78         78.0            72.69
       lap_number
count    78.000000
mean     40.102564
std      22.571439
min       1.000000
25%      21.250000
50%      40.500000
75%      59.750000
max      78.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0    lap_number        78 non-null     float64
 1    lap_time_seconds  77 non-null     object
dtypes: float64(1), object(1)
memory usage: 1.4+ KB
None
RangeIndex(start=0, stop=79, step=1)

Accessing of Data can be done using head tail and etc

In [23]:
df.sample(10)

#LOC AND ILOC FUNCTIONS
print(df.loc[[0,1,5,7]])   #a LIST OF ROWS
print(df.loc[0:3])         #A slice of rows
print(df.loc[0:20,' lap_time_seconds'])  #Range of rows with a specific column
#df.loc[0:[list of columns]] gives a range of columns for a specific rows
df.iloc[0:20,:]   #Same shi but like with indexes on both sides

   lap_number  lap_time_seconds
0          1.0           73.173
1          2.0           71.372
5          6.0           72.153
7          8.0           71.465
   lap_number  lap_time_seconds
0          1.0           73.173
1          2.0           71.372
2          3.0           71.532
3          4.0            71.57
0      73.173
1      71.372
2      71.532
3       71.57
4      72.67
5      72.153
6      71.907
7      71.465
8      71.738
9      71.424
10     72.212
11     71.368
12     71.644
13     72.935
14     71.425
15      71.46
16     72.411
17     73.137
18     73.183
19    109.459
20     95.141
Name:  lap_time_seconds, dtype: object

    lap_number  lap_time_seconds
0           1.0           73.173
1           2.0           71.372
2           3.0           71.532
3           4.0            71.57
4           5.0           72.67
5           6.0           72.153
6           7.0           71.907
7           8.0           71.465
8           9.0           71.738
9          10.0           71.424
10         11.0           72.212
11         12.0           71.368
12          NaN           71.644
13         14.0           72.935
14         15.0           71.425
15         16.0            71.46
16         17.0           72.411
17         18.0           73.137
18         19.0           73.183
19         20.0          109.459

#To convert the index row into the specific column

In [31]:
df.index=df[' lap_number ']
#Now instead of using the index values for rows u can use specific row names

#   u    can sort values of a column based on parameters

In [36]:
df1=df
df1.sort_values(' lap_time_seconds', ascending=False)
df1

              lap_number  lap_time_seconds
 lap_number
1.0                   1.0           73.173
2.0                   2.0           71.372
3.0                   3.0           71.532
4.0                   4.0            71.57
5.0                   5.0           72.67
...                   ...              ...
74.0                 74.0           73.098
75.0                 75.0           71.995
76.0                 76.0           72.396
77.0                 77.0           71.824
78.0                 78.0            72.69

[79 rows x 2 columns]

#  A case where u might need to iterate through rows

In [37]:
for index,rows in df.iterrows():
    print(rows[' lap_number '])

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
nan
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0

#  Filtering data

In [63]:
df[' lap_time_seconds']=pd.to_numeric(df[' lap_time_seconds'],errors='coerce')
df[(df[' lap_time_seconds']>80.555) & (df[' lap_time_seconds']<100.000)]         #Basically vectorized operations but u gotta define it inside a df[can be a logical expression ]

              lap_number   lap_time_seconds
 lap_number
21.0                 21.0            95.141

              lap_number   lap_time_seconds
 lap_number
21.0                 21.0            95.141