In [2]:
import pandas as pd
import numpy as np
#Creation of Dataframe
df=pd.read_csv('student_csv.csv')
print(df.head())
print(df.tail())
print(df.describe())
print(df.info())
print(df.index)

   StudentID     Name  Age Gender Branch  Year  CGPA  Attendance       City
0        101    Arjun   18      M    CSE     1   8.2          92  Bangalore
1        102    Rahul   19      M    ISE     1   7.5          85     Mysore
2        103     Neha   18      F    CSE     1   9.1          96      Delhi
3        104    Priya   20      F    ECE     2   8.7          90    Chennai
4        105  Karthik   21      M     ME     3   6.9          78  Hyderabad
   StudentID    Name  Age Gender Branch  Year  CGPA  Attendance        City
5        106   Aditi   19      F    CSE     2   9.3          98      Mumbai
6        107   Rohan   22      M     CE     4   7.2          80        Pune
7        108   Sneha   20      F    EEE     2   8.0          88  Coimbatore
8        109  Vikram   21      M    CSE     3   8.5          91   Bangalore
9        110  Ananya   18      F    ISE     1   9.0          95     Kolkata
       StudentID        Age       Year       CGPA  Attendance
count   10.00000  10.000000  10.000000  10.000000   10.000000
mean   105.50000  19.600000   2.000000   8.240000   89.300000
std      3.02765   1.429841   1.054093   0.830261    6.650814
min    101.00000  18.000000   1.000000   6.900000   78.000000
25%    103.25000  18.250000   1.000000   7.625000   85.750000
50%    105.50000  19.500000   2.000000   8.350000   90.500000
75%    107.75000  20.750000   2.750000   8.925000   94.250000
max    110.00000  22.000000   4.000000   9.300000   98.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   10 non-null     int64
 1   Name        10 non-null     object
 2   Age         10 non-null     int64
 3   Gender      10 non-null     object
 4   Branch      10 non-null     object
 5   Year        10 non-null     int64
 6   CGPA        10 non-null     float64
 7   Attendance  10 non-null     int64
 8   City        10 non-null     object
dtypes: float64(1), int64(4), object(4)
memory usage: 852.0+ bytes
None
RangeIndex(start=0, stop=10, step=1)

# Accessing of Data can be done using head tail and etc

In [3]:
df.sample(10)

#LOC AND ILOC FUNCTIONS
print(df.loc[[0,2,4,5]])   #a LIST OF ROWS
print(df.loc[0:3])         #A slice of rows
print(df.loc[0:5,'StudentID'])  #Range of rows with a specific column
#df.loc[0:[list of columns]] gives a range of columns for a specific rows
df.iloc[0:20,:]   #Same shi but like with indexes on both sides

SyntaxError: invalid syntax (53918155.py, line 4)

# To convert the index column into the specific column

In [ ]:
df.index=df['StudentID']
#Now instead of using the index values for rows u can use specific row names

#   u    can sort values of a column based on parameters

In [ ]:
df1=df.copy()
df1.sort_values('Attendance', ascending=False)
df1

#  A case where u might need to iterate through rows

In [ ]:
for index,rows in df.iterrows():
    print(rows['StudentID'])

#  Filtering data

In [ ]:
#df[' lap_time_seconds']=pd.to_numeric(df[' lap_time_seconds'],errors='coerce')
df[(df['Attendance']>80.555) & (df['Attendance']<100.000)] #Basically vectorized operations but u gotta define it inside a df[can be a logical expression ]
df[(df['Attendance']>80.555) & (df['Attendance']<100.000)]['Name']  #Does the same thing but the second set of [] helps to only print a select columns defined within []
df.loc[df['Attendance']>80.555,['Name']]

# Filtering using string operations
    -Assume u have a dataset df having a column 'NAME' and u want to pick up strings that start with the word 'real' then u use
     df[df['NAME'].str.contains('real')]'''
     -contains() accepts a parameter case  ->True if u need it to be case sensitive and false if not
     -U can use regex as the string to find

 # isin filter
 ### given column or list of columns isin function checks the membership of elements of this column in the given parameter and conditions can also be passed
 ### Ex: df[df['born_country'].isin(['USA','FRA'] & df['name']=='Samuel']

In [ ]:
df[df['Branch'].isin(['CSE','ISE'])]

# Adding/Removing Columns
## Adding a new column can just be done by writing df['new_column_name']=A list of elements to be stored as a column

## For removing we use df.drop()
    -drop() defualt does not modify og dataframe but can be modified by using the inplce paramter to be True

## Converting a list of dates to datetime column
    -df['dob']=pd.to_datetime(df['dob']

## To access methods of a datetime object u use .dt.year, dt.day, dt.month etc

# Saving a dataframe into a required file

In [ ]:
df1.to_csv('C:\\Users\ASUS\PyCharmMiscProject\Python pactice for motorsport\student_csv.csv',index=False) #Index=False means it wont create a new column just for the index values

# Apply Function

In [ ]:
df['CODE']=df['City'].apply(lambda x:str(x)[0:3].upper())       #Always takes a function as the main arguement can have a parameter axis =0 or 1 to perform operations on all rows and all columns
df

# pd.concat() is a function that receives a list of files (csv or excel etc) and merge them together

# Handling Null Values

In [ ]:
# lets change the cities of 2 ppl to NaN
df.loc[0:1,'City']=pd.NA


#To fill said Na values use .fillna()
df['City'].fillna('Ranchi')
print(df.head())

#If there is a series of continuation u can fill in the Na values with the .interpolate() function
#It looks at the neibouring values up and down and just gives a prediction of what the value might be

# U can use dropna() to drop the rows which contains NaN Values
# If u wanna drop rows only if a specific column or specific columns have nan then u define subset=[the columns u want that have nan values]

# to get the rows that have nan values
df[df['City'].isna()]

# to get rows that dont have Na values is done by writing .notna()

# Data Aggregation: Getting a count of values present in the given data

In [ ]:
li=df['Gender'].value_counts().to_dict()    #li is a series object
print(li)

# Group By function

In [ ]:
df.groupby(['Branch']).agg({'CGPA':['mean','max','min'],'Attendance':['max','min']})

# .agg() function

In [ ]:
df['CGPA'].agg(['mean','std','min','max'])

# Practice Questions:

##  Q1:for each driver and avg laptimes

In [ ]:
import pandas as pd

data = {
    'Driver': ['Max', 'Max', 'Lewis', 'Lewis', 'Charles', 'Charles'],
    'Lap': [1, 2, 1, 2, 1, 2],
    'LapTime': [72.1, 71.8, 73.0, 72.6, 72.9, 72.4],
    'Tyre': ['Soft', 'Soft', 'Medium', 'Medium', 'Soft', 'Medium']
}

df = pd.DataFrame(data)
df.groupby(['Driver'])['LapTime'].agg(['min','max','mean'])

# Q2:Filtering & Conditions
Using the DataFrame above:

Extract all drivers with lap times less than the average lap time.

#  GroupBy Operation: (CONTAIND IDXMIN() IT IS IMP)*****
Given a DataFrame with columns:

Team

LapTime

Find the average lap time per team.

Identify the team with the fastest average lap.

Handling Missing Data
A column TyreWear contains missing (NaN) values.

Replace missing values with the column mean.

Then normalize the column between 0 and 1.

In [ ]:
lap_data = {
    "Timestamp": [
        "2026-01-04 10:00:00",
        "2026-01-04 10:01:00",
        "2026-01-04 10:02:00",
        "2026-01-04 10:03:00",
        "2026-01-04 10:04:00",
        "2026-01-04 10:05:00",
        "2026-01-04 10:06:00",
        "2026-01-04 10:07:00"
    ],
    "Driver": [
        "Verstappen",
        "Hamilton",
        "Norris",
        "Leclerc",
        "Piastri",
        "Perez",
        "Alonso",
        "Russell"
    ],
    "Team": [
        "Red Bull",
        "Ferrari",
        "McLaren",
        "Ferrari",
        "McLaren",
        "Red Bull",
        "Aston Martin",
        "Mercedes"
    ],
    "LapTime": [
        91.2, 92.1, 90.8, 91.5, 91.0, 92.4, 93.1, 91.7
    ],
    "TyreWear": [
        0.35, None, 0.29, 0.33, None, 0.41, 0.45, 0.38
    ]
}
df = pd.DataFrame(lap_data)
avg_lap_time=df['LapTime'].mean()
print(df[df['LapTime']<avg_lap_time])
print()
#q4
df['TyreWear'].fillna(df['TyreWear'].mean())
print(df.head())

#q3
print(df.groupby(['Team']).agg({'LapTime':'mean'}))
print()
v=df.groupby(['Team']).agg({'LapTime':'mean'})['LapTime'].idxmin()
print(f'Fastest Team:{v}')